@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Luxurious+Roman&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Merriweather', serif;

}
#topber{
    display: flex;
    padding-bottom: 52px;
}
.color{
    color: #0071f4f0;
}
.focused{
    width: 50%;
    padding-left: 113px;
    padding-top: 72px;

}
.focused img{
    width: 70%;
}
.focused h1 {
    font-weight: 900;
    font-size: 63px;
    border-left: 4px solid blueviolet;
    padding-left: 15px;
    border-radius: 4px;
}
.focused p {
    width: 400px;
    padding-left: 20px;
    line-height: 2;
    font-size: 15px;
    font-weight: 700;
    color: #434343;
}
button {
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(#07070785, black);
    color: white;
    font-size: 24px;
    padding: 10px 20px 10px 20px;
    box-shadow: 4px 7px 4px 2px black;
    margin-left: 18px;
    margin-top: 12px;
}
button a {text-decoration: none;color: red;font-weight: 700;}
small {
    display: block;
    padding-top: 46px;
    padding-left: 17px;
}
.mission-wrapper{
    display: flex;
    width: 90%;
}
.mission-wrapper img{
    width: 40%;
}
.mission-wrapper p {
    line-height: 1.5;
}
#my-mission {
    padding: 0px 0px 100px 148px;
}
.mission {
    background: rgba(247, 9, 215, 0.096);
    padding: 34px 34px 50px 34px;
    margin-left: 30px;
    border-radius: 23px;
}

.mission p {
    color: #313030;
}

.mission h3 {
    font-weight: 800;
}

#my-mission h1 {
    font-size: 53px;
    padding-left: 312px;
}


.vission{
    background: rgba(9, 241, 48, 0.137);
    padding: 34px 34px 50px 34px;
    margin-left: 30px;
    border-radius: 23px;
}
.goals{
    background: rgba(173, 175, 47, 0.205);
    padding: 34px 34px 50px 34px;
    margin-left: 30px;
    border-radius: 23px;
}
#develop {
    padding-bottom: 100px;
}
.develop-wrapper{
    display: flex;
    width: 100%;
}
.develop-wrapper img{
    width: 82%;
    padding-left: 116px;
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
}
.develop-picture {
    width: 90%;
    padding-left: 70px;
}
.develop-content h1 {
    font-size: 37px;
    font-weight: 900;
    padding-left: 10px;
}
.develop-content p {
    width: 80%;
    padding-bottom: 3px;
    line-height: 31px;
    padding-left: 13px;
}

.develop-content {
    padding-left: 113px;
}
.Communitywrapper{
    display: flex;
    width: 100%;
}
.develop-content1{
    width: 50%;
}
.develop-content1 img{
    width: 64%;
}
#Global-Community {
    padding: 0px 0px 61px 140px;
}

.develop-content1 h1 {
    font-weight: 900;
    font-size: 35px;
    padding-left: 14px;
    line-height: 1.5;
}

.develop-content1 p {
    width: 91%;
    padding-left: 21px;
    line-height: 2;
    text-align: justify;
}
.favourite-hobby-wrapper{
    display: flex;
    padding: 22px 112px 100px 213px;
}
.cricket{
    width: 50%;
}
.cricket img{
    width: 80%;
    border-radius: 37px;
    box-shadow: 19px 13px 8px #79a578;
}
span.color2 {
    padding: 0px 0px 0px 69px;
    color: #4ef404;
}

.cricket h1 {
    padding: 26px 0px 0px 0px;
    font-size: 30px;
    font-weight: 900;
    line-height: 2;
}

.cricket p {
    line-height: 1.5;
    width: 88%;
}
section#favourite-hobby h2 {
    text-align: center;
    font-size: 42px;
    font-weight: 900;
}
.hard-work {
    text-align: center;
    background: #0b0d17;
}

.hard-work h1 {
    color: white;
    padding-top: 39px;
}

.hard-work p {
    color: #999;
    padding-bottom: 27px;
}
.color3{
    color: #ff5959;
}